.header {
	height: 60px;
	z-index: 2;
	position: sticky;
	top: 0;
	display: flex;
	box-sizing: border-box;
	padding-left: 12px;

	&::after {
		// TODO
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--c-grey);
		opacity: 0;
		z-index: -1;
	}

	&_logo {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 26px;
		font-weight: 900px;
		color: var(--c-orange);
		// letter-spacing: 0px;
		text-shadow: 1px 1px 1px var(--c-gold);
		margin-right: 12px;
		cursor: pointer;
	}

	&_nav {
		display: flex;
		align-items: center;
		letter-spacing: 1px;
		font-size: 16px;

		&_item {
			cursor: pointer;
			color: var(--c-text-desc);
			transition: 0.1s;

			&.active,
			&:hover {
				color: var(--c-text);
				text-shadow: 1px 1px 2px var(white);
			}

			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}

	&_profile {
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: 12px;
		cursor: pointer;
		transition: all 0.2s;

		&_avatar {
			width: 48px;
			height: 48px;
			margin-left: 12px;
			border-radius: 100%;

			img {
				width: 48px;
				height: 48px;
				border-radius: 100%;
			}
		}

		&:hover {
			.header_profile_name {
				text-shadow: 1px 1px 4px var(--c-text);
			}

			.header_profile_avatar {
				box-shadow: 0px 0px 8px var(--c-text);
			}
		}
	}
}

.profile-dropdown {
	height: 100%;

	&_item {
		display: flex;
		align-items: center;

		img {
			width: 16px;
			height: 16px;
			margin-right: 6px;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}

		&:hover {
			cursor: pointer;
			text-shadow: 1px 1px 4px var(--c-text);
		}
	}
}