<div class="container">
	<div class="background">
		<video playsinline autoplay muted loop [src]="'https://cdn.fastly.steamstatic.com/steamcommunity/public/images/items/1091500/75b1a9153e13599d66d16853be815a6f1fffaeeb.webm'"></video>
	</div>
	<div *ngIf="user.steamId" class="content">
		<div class="content_left">
			<div class="df">
				<div class="profile-info">
					<div class="profile-info_title">
						<div class="profile-info_title_avatar">
							<img [src]="fs.avatar(user.avatar, 'full')">
						</div>
						<div class="profile-info_title_description">
							<div class="profile-info_title_description_title">
								<div class="profile-info_title_description_title_name">{{user.name}}</div>
								<div class="profile-info_title_description_title_circle">40</div>
							</div>
							<span class="desc">2 years on Steam</span>
							<span class="desc">Since Jan 2023</span>
						</div>
					</div>
					<div class="profile-info_bottom">
						<div class="profile-info_bottom_item">
							<div class="profile-info_bottom_item_title">
								<img src="/assets/icons/games.png">
								{{games.length}}
							</div>

							<div class="desc">
								Games
							</div>
						</div>
						<div class="profile-info_bottom_item">
							<div class="profile-info_bottom_item_title">
								<img src="/assets/icons/trophy-grey.png">
								{{userAchievements.length}}
							</div>

							<div class="desc">
								Achievements
							</div>
						</div>
					</div>
				</div>

				<div class="last-game">
					<div class="last-game_title">
						<div class="last-game_title_img">
							<img [src]="fs.gameHeader(games[0]._id)">
						</div>
						<div class="last-game_title_description">
							{{games[0].name}}
						</div>
					</div>

					<div class="last-game_achievements">
						<div class="last-game_achievements_item"
							*ngFor="let achievement of games[0].achievements | slice:0:10">
							<img [src]="fs.file(games[0]._id, achievement.icon)">
						</div>
					</div>

					<div class="last-game_bottom">
						<div class="last-game_bottom_item">
							<div class="last-game_bottom_item_title">
								<img src="/assets/icons/games.png">
								{{games[0].playtime | timeFormat}}
							</div>

							<div class="desc">
								Playtime
							</div>
						</div>
						<div class="last-game_bottom_item">
							<div class="last-game_bottom_item_title">
								<img src="/assets/icons/trophy-grey.png">
								{{games[0].userAchievements.length}} / {{games[0].achievements.length}}
							</div>

							<div class="desc">
								Achievements
							</div>
						</div>
						<div class="last-game_bottom_item">
							<div class="last-game_bottom_item_title">
								<img src="/assets/icons/games.png">
								{{getCompletionNumber(games[0])}}%
							</div>

							<div class="desc">
								Completion
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="some-stats">
				<div class="some-stats_item">
					<div class="some-stats_item_title">
						<img src="/assets/icons/trophy.png">
						{{userAchievements.length}}
					</div>

					<div class="some-stats_item_description">
						Achievements
					</div>
				</div>

				<div class="some-stats_item">
					<div class="some-stats_item_title">
						<div class="some-stats_item_title_progress-container">
							<svg class="some-stats_item_title_progress-container_ring" width="120" height="120">
								<circle class="background" cx="60" cy="60" r="50"></circle>
								<circle class="progress" cx="60" cy="60" r="50"></circle>
							</svg>
							<div class="some-stats_item_title_progress-container_value">
								<span>66</span>
								<span>%</span>
							</div>
						</div>

					</div>

					<div class="some-stats_item_description">
						Average Completion
					</div>
				</div>

				<div class="some-stats_item">
					<div class="some-stats_item_title">
						<img src="/assets/icons/trophy.png">
						40
					</div>

					<div class="some-stats_item_description">
						Perfect Games
					</div>
				</div>
			</div>

			<div class="games-container">
				<div class="header">
					<div>
						13 Recent games
					</div>

					<div class="header_actions">

					</div>
				</div>
				<div class="games">
					<table>
						<thead>
							<tr>
								<th>Game</th>
								<th>Completion</th>
								<th>Achievements</th>
								<th>Playtime</th>
								<th>Last Played</th>
							</tr>
						</thead>

						<tbody>
							<tr class="games_item" [class.perfect]="game.isPerfect"
								*ngFor="let game of games | slice: 0 : 13">
								<td class="games_item_title">
									<div class="games_item_title_img">
										<img [src]="fs.gameHeader(game._id)" alt="">
									</div>
									<div class="games_item_title_name">
										{{game.name}}
									</div>
								</td>

								<td class="games_item_completion">
									<div class="progress-bar">
										<div class="progress-fill" [class.perfect]="game.isPerfect"
											[style.width]="getCompletionNumber(game) + '%'">
										</div>
									</div>

								</td>

								<td class="games_item_achievements">
									<span>
										<img src="/assets/icons/trophy-{{game.isPerfect ? 'gold' : 'grey'}}.png">
									</span>
									<span>
										{{game.userAchievements.length}} <span *ngIf="!game.isPerfect">/
											{{game.achievements.length}}</span>
									</span>
								</td>

								<td class="games_item_playtime">
									{{game.playtime | timeFormat}}
								</td>

								<td class="games_item_lastplayed">
									{{game.lastPlayed | dateFormat : 'MMM DD YYYY'}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

		<div class="content_right"></div>
	</div>
</div>