<div class="backdrop"
	[style.background-image]="'url(https://cdn.fastly.steamstatic.com/steamcommunity/public/images/items/1091500/4ab21a6c318ce3e8f63757cb2481ef54888e3a5c.jpg)'">
</div>
<div class="container">
	<div class="header">
		<div class="header_user">
			<img class="header_user_avatar"
				src="https://avatars.steamstatic.com/acf67207768cdc5be5f09aca6a9f7830bf27d6f7_full.jpg" alt="">

			<div class="header_user_info">
				<div class="header_user_info_name">
					eieich
					<span class="header_user_info_name_level">40</span>
				</div>

				<div class="header_user_info_stats">
					<div class="header_user_info_stats_years">
						2.2 years on Steam
					</div>
				</div>
			</div>
		</div>

		<div class="header_stats">
			<div class="header_stats_row">
				<div class="header_stats_row_progress-bar">
					<w-progress-bar [height]="12" [fill]="80">
						<ng-template w-progress-bar-title>
							<div class="header_stats_row_progress-bar_title">
								<div><span>127</span> out of <span>154</span> games played</div>
								<div>82%</div>
							</div>
						</ng-template>
					</w-progress-bar>
				</div>

				<div class="header_stats_row_progress-bar">
					<w-progress-bar [height]="12" [fill]="80">
						<ng-template w-progress-bar-title>
							<div class="header_stats_row_progress-bar_title">
								<div><span>328</span> / 500 XP to next level</div>
								<div>10.328 XP</div>
							</div>
						</ng-template>
					</w-progress-bar>
				</div>
			</div>
		</div>

		<div class="header_calculation">
			<div class="header_calculation_item">
				<div class="header_calculation_item_title">
					Average price
					<img src="/assets/icons/info.png" alt="">
				</div>

				<div class="header_calculation_item_value">
					$18.92
				</div>

				<div class="header_calculation_item_description">
					Average price calculation only includes products that have a price
				</div>
			</div>

			<div class="header_calculation_item">
				<div class="header_calculation_item_title">
					Average price per hour
					<img src="/assets/icons/info.png" alt="">
				</div>

				<div class="header_calculation_item_value">
					$0.09
				</div>

				<div class="header_calculation_item_description">
					This is the average price calculated from all services.
				</div>
			</div>

			<div class="header_calculation_item">
				<div class="header_calculation_item_title">
					Hours on record
				</div>

				<div class="header_calculation_item_value">
					4970h
				</div>
			</div>

			<div class="header_calculation_item">
				<div class="header_calculation_item_title">
					Average playtime
				</div>

				<div class="header_calculation_item_value">
					39.1h
				</div>
			</div>

			<div class="header_calculation_item">
				<div class="header_calculation_item_title">
					Today`s prices
					<img src="/assets/icons/info.png" alt="">
				</div>

				<div class="header_calculation_item_value">
					$2650
				</div>

				<div class="header_calculation_item_description">
					This is the average price calculated from all services.
				</div>
			</div>
		</div>

		<div class="header_stats"></div>
	</div>

	<div class="stats">
		<div class="stats_item">
			<w-mini-table width="100%" title="Games by playtime" [items]="gamesByPlaytime"></w-mini-table>
		</div>

		<div class="stats_item">
			<w-mini-table width="100%" title="Games by cost" [items]="gamesByCost"></w-mini-table>
		</div>

		<div class="stats_item">
			<w-mini-table width="100%" title="Badges" [items]="badges"></w-mini-table>
		</div>

		<div class="stats_item">
			<w-mini-table width="100%" title="Profile Customizations" [items]="profileCustomizations"></w-mini-table>

			<w-mini-table width="100%" title="Bans and restrictions" [items]="bans"></w-mini-table>
		</div>
	</div>
</div>