<div class="container">
	<div class="header">
		<wInput placeholder="Search..."></wInput>

		<nav class="nav">
			<div class="nav_item" [class.active]="viewMode === 'list'" (click)="viewMode = 'list'">
				<img src="/assets/icons/list.png" alt="">
			</div>

			<div class="nav_item" [class.active]="viewMode === 'cards'" (click)="viewMode = 'cards'">
				<img src="/assets/icons/cards.png" alt="">
			</div>

			<div class="nav_item" [class.active]="viewMode === 'grid'" (click)="viewMode = 'grid'">
				<img src="/assets/icons/grid.png" alt="">
			</div>

			<div class="nav_item" [class.active]="viewMode === 'mosaic'" (click)="viewMode = 'mosaic'">
				<img src="/assets/icons/mosaic.png" alt="">
			</div>
		</nav>
	</div>

	<div class="content">
		<games-table *ngIf="games.length" [games]="games" [viewMode]="viewMode"></games-table>
	</div>
</div>