.container {
	width: 100%;
}

.header {
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav {
		display: flex;

		&_item {
			cursor: pointer;
			height: 24px;
			transition: 0.1s;

			&:hover,
			&.active {
				// box-shadow: 0px 0px 10px white;
				filter: drop-shadow(0px 0px 2px white);
			}

			&:not(:last-child) {
				margin-right: 12px;
			}
		}
	}
}

.content {
	width: 100%;
	letter-spacing: 0px;
}