:root {
	--c-grey: #3f3e4d;
	--c-light-grey: #595965;
	--c-light-grey05: rgba(89, 89, 101, 0.5);
	--c-gold: #fecc09;
	--c-blue: #6FD5F1;
	--c-green: #b0e000;
	--c-orange: #da8c4a;
	--c-dark-grey: #2f2f32;
	--c-text: #C6CDD3;
	--c-text-desc: #959DA6;
	--c-button: #2A2A2A;
}